/* index.css */

@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"),
    local("Yu Gothic Medium"),
    local("YuGothic-Regular");
}
@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"),
    local("Yu Gothic");
}

/*https://qiita.com/hashrock/items/5c18bf5086f52e4122e5*/

*, *:before, *:after {
    box-sizing: border-box;
}

html {
  font-family: /*-apple-system, BlinkMacSystemFont,*/ "Hiragino Kaku Gothic ProN", MyYuGothicM, Meiryo, sans-serif;
  font-size: 16px;
}

.flex-list {
  display: flex;
  flex-wrap: nowrap;
}

.flex-item {
  flex: 0 0 48%;
  max-width: 48%; /* IE11バグ対応 */
  background-color: white;
  text-align: center;
}

.flex-sub{
  flex: 0 0 4%;
  max-width: 4%;
  background-color: white;
}

.flex-button{
  display: flex;
  flex-direction: column;
}

#canvas{
    position: center;
    width: calc(100vw/2);
    height: calc(100vw/2);
    background-color: white;
    margin: 0 auto;
}
#editor{
    position: center;
    width: 100%;
    height: 100%;
    font-size: calc(100vw / 45);
    text-align: left;
    /*background-color: #FFCCFF;*/
    margin: 0 auto;
}


@media (max-width: 800px) {
  .flex-item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  #canvas{
      position: center;
      width: 95%;
      height: calc(100vw*0.95);
      background-color: "white";
      margin: 0 auto;
  }
  #editor{
      position: center;
      width: 95%;
      height: 300px;
      background-color: #FFCCFF;
      font-size: calc(100vw / 45);
      text-align: left;
      margin: 0 auto;
  } 
  
}

#canvas:-webkit-full-screen{
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:-moz-full-screen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:-ms-fullscreen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}
#canvas:fullscreen {
	position : absolute ;
	left     : 0 ;
	top      : 0 ;
	width    : 100% ;
	height   : 100% ;
}

svg {
  margin: 0.4em;
  overflow: visible;
}

.i-large div { font-size: 4em; margin: 0 }
.i-medium div { font-size: 2em; margin: 0 }
.i-small div { font-size: 1.5em; margin: 0 }

.i-large,
.i-medium,
.i-small { max-width: 50em; margin: 0 auto 2em }




.ghost-button{
    background: #333;
    color: white;
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 1rem;
    outline: none;
}

.ghost-button--round{
    border-radius: 100px;
}

.ghost-button:hover{
    background: #444;
}
