#puppy-footer {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 12px;
  padding: 0 5px 0 0;
  pointer-events: none;
}

#puppy-footer button {
  margin: 0 2px 0 2px;
  pointer-events: auto;
}

#puppy-screen {
  width: 100%;
  height: 100%;
  padding: 0 5px 0 5px;
}